@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

body {
  box-sizing: border-box;
  color: #220f5f;
  font-family: 'Poppins', sans-serif;
}

.container {
  position: absolute;
  display: flex;
  width: 50%;
  
  padding: 0 10px;
  margin: 200px 280px auto;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 35px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr th {
  font-size: 18px;
  padding: 12px;
  border: 1px solid #000000;
  text-align: center;
  color: rgb(15, 15, 15);
  background-color: rgba(0, 47, 60, 0.2);
}

tr td {
  border: 1px solid #2f2f2f;
  text-align: left;
}

input {
  font-size: 16px;
  background-color: transparent;
  border: none;
  width: 90%;
  padding: 12px 12px;
  font-family: 'Poppins', sans-serif;
}

input:hover {
  background-color: #ffffff;
  padding: 12px 12px;
  width: 90%;
}

